.Body{
    background-image: url(image\ copy.png);
    background-repeat: no-repeat;
    background-size: cover;
}   
.h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    box-shadow: 10px 20px 100px grey;
    background-image: url(image\ copy.png);
    color: white;
    
}
.Table{

    background-color:azure;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    background-image: url(image\ copy\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;    
    margin-top: 30px;
    border-width: 5px;
    border-color: solid white;
    box-shadow: 10px 10px 100px red;
    border-spacing: 15px 20px;
}
.Name td{
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.Name1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    margin-right: 10px;
}
.Name2{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
.Name3{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.E td{
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.E1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    margin-right: 10px;
}
.E2{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
.E3{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.P td{
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.P1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    margin-right: 10px;
}
.P2{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
.P3{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.Cp td{
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.Cp1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.Cp2{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
.Cp3{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 6px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.Pn td{
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.Pn1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    margin-right: 10px;
}
.Pn2{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
.Pn3{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.s td{
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.s1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    margin-right: 10px;
}
.s2{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    padding-right: 10px;
    padding-bottom: 4px;
}
.s3{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    
}
.s4{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    
}
.s5{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    
}
.d td{
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.d1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    
    margin-right: 10px;
}
.d2{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
.d3{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.c td{
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.c1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    margin-right: 10px;
}
.c2{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
.c3{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.a td{
    margin-bottom: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.a1{
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    font-weight: bold;
    margin-right: 10px;
}
.a2{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
.a3{
    padding: 5px;       
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
.b td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.b1{
    background-image: url(image\ copy\ 2.png);
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}
.b2{
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-right: 50px;  
    font-weight: bolder;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 35px;
}
.b2:hover{
    background-image: url(image\ copy\ 3.png);
    text-align: center;
    font-weight: bolder;
    color: white;
}
.b3{
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-right: 50px;      
    font-weight: bold;
    background-image: url(image\ copy\ 2.png);
    border-radius: 7px;
    border: 2px solid black;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 30px;
    margin-right: 35px;
}
.b3:hover{
    background-image: url(image\ copy\ 3.png);
    text-align: center;
    font-weight: bolder;
    color: white;
}